body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    text-align: left;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    background-color: hsl(0, 0%, 20%);
    padding: 20px;
    border: none;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    background-color: hsl(0, 0%, 30%);
}

button:hover {
     background-color: hsl(0, 0%, 40%);
}

button:active {
     background-color: hsl(0, 0%, 50%);
}

.operator-btn {
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}